@using WebUI.Models
@model GuitarsListViewModel

@{
    ViewBag.Title = "Guitars";
}

@foreach (var guitar in Model.Guitars)
{

    @Html.Partial("_GuitarSummary", guitar)

}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x=> Url.Action("List", new { page = x}))
</div>
 