@using Domain.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "Guitars";
}

@foreach (Product product in Model)
{
    <div>
        <h3>@product.Name - @product.Author</h3>
        <p>@product.Description</p>
        <h4>@product.Price.ToString("# USD")</h4>
    </div>
    <hr />
}

